:root {
    --primary-color: #2E3237;
    --text-color: white;
    --button-background-color: #106462;
    --border-button-color: rgba(0, 0, 0, 0.3);
    --button-hover-color: #adf9d9;
    --button-hover-text-color: black;
    --loading-message-text-color: red;
    --modal-background-color: #7BA7BF;
    --modal-text-color: #2E3237;
}

body {
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
}

.button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--button-background-color);
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid var(--border-button-color);
    transition: 0.5s opacity, 0.4s background-color, 0.5s color, 0.4s font-size;
}

.button:hover,
.button:focus {
    cursor: pointer;
    font-size: 18px;
    opacity: 0.8;
    background-color: var(--button-hover-color);
    color: var(--button-hover-text-color);
}

ul {
    list-style-type: none;
    padding: 0;
    /* Remove default padding */
    margin: 0;
    /* Remove default margin */
}

.loading-message {
    font-size: 24px;
    color: var(--loading-message-text-color);
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: --modal-background-color;

    /* to show it above other content */
    z-index: 999;

    /* to allow scrolling if the screen is not high enough*/
    overflow: auto;

    /* this is used to center the modal */
    display: grid;
    text-align: center;
}

.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: var(--modal-background-color);
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
    color: var(--modal-text-color);
}

.modal-close {
    float: right;
    border: 0;
    background: none;
    color: var(--modal-text-color);
}

.modal h1 {
    margin-top: 0;
}

.modal p {
    margin-bottom: 0;
}